{{#> layout.page
    title="Close your eyes"
    view="close-your-eyes"
    viewScript="views/code/close-your-eyes/close-your-eyes.js"
}}
    <canvas class="experiment"></canvas>

    <retro-experiment-control></retro-experiment-control>

    <retro-content-block data-date="2025-01-01">
        <span slot="title">Close your eyes</span>
        <span slot="excerpt">
            Exploration of how to programmatically create a random animation that mimics what a human may see when eyes are closed.
            <br /><br />
            Source: <a href="https://github.com/vjekoart/retrovizor/blob/master/src/library/services/close-your-eyes.service.js" target="_blank">close-your-eyes.service.js</a>
        </span>
    </retro-content-block>
{{/layout.page}}
