/**
 * Experiment block, used on element that displays experiment results.
 */
.experiment
{
    display       : block;
    width         : 100%;
    height        : auto;
    aspect-ratio  : 16 / 9;
    margin-bottom : var(--style-grid-full);
    border        : var(--style-line-width-light) solid var(--style-color-border);
}

.experiment:last-child
{
    margin-bottom : 0;
}

.experiment img
{
    display    : block;
    width      : 100%;
    height     : auto;
    max-height : 75vh;
    margin     : 0 auto;
}
