*
{
    box-sizing: border-box;
}

html,
body
{
    width   : 100%;
    margin  : 0;
    padding : 0;
}

html
{
    height      : 100%;

    font-family : var(--style-font-family-content);
    font-size   : var(--style-font-size-text);
    font-weight : var(--style-font-weight-normal);
    line-height : var(--style-line-height);

    color       : var(--style-color-light);
    background  : var(--style-color-dark);
}

body
{
    min-height : 100%;
}

canvas,
img
{
    display : block;
}
