/**
 * Links
 */
a
{
    text-decoration : none;
 
    color           : var(--style-color-interactive);
    transition      : color var(--transition-duration-short) ease-in-out;
}

a:hover,
a:active,
a:focus
{
    color : var(--style-color-interactive-in);
}

/**
 * Text content
 */
p
{
    margin : 0 0 var(--style-line-height) 0;
}

p:last-child
{
    margin-bottom : 0;
}
