/**
 * General elements
 */
strong
{
    font-weight : var(--style-font-weight-strong);
}

/**
 * Links
 */
a
{
    text-decoration : underline;
 
    color           : var(--style-color-interactive);
    transition      : color var(--transition-duration-short) ease-in-out;
}

a[target="_blank"]
{
    display : inline-block;
}

a[target="_blank"]::after
{
    content        : "\2197";

    vertical-align : top;
    line-height    : var(--style-font-size-text);
    color          : var(--style-color-light);
}

a:hover,
a:active,
a:focus
{
    color : var(--style-color-interactive-in);
}

/**
 * Headings
 */
h2,
h3
{
    position  : relative;
    margin    : 0 0 var(--style-grid-third) 0;
    text-wrap : balance;
}

h2::before,
h3::before
{
    position : absolute;
    inset    : 0 auto auto 0;
    color    : var(--style-color-accent);
}

h2
{
    padding     : 0 0 0 var(--style-grid-full);

    font-family : var(--style-font-family-strong);
    font-weight : var(--style-font-weight-strong);
    font-size   : var(--style-font-size-text);
    line-height : var(--style-grid-full);

    color       : var(--style-color-light-highlight);
}

h2::before
{
    content : "##";
}

h3
{
    padding     : 0 0 0 calc(1.33 * var(--style-grid-full));

    font-family : var(--style-font-family-strong);
    font-weight : var(--style-font-weight-strong);
    font-size   : var(--style-font-size-text);
    line-height : var(--style-grid-full);

    color       : var(--style-color-light);
}

h3::before
{
    content : "###";
}

h3:not(:first-child)
{
    margin-top : calc(2 * var(--style-line-height));
}

/**
 * Text content
 */
p,
ul,
ol
{
    margin : 0 0 var(--style-line-height) 0;
}

p:last-child,
ul:last-child,
ol:last-child
{
    margin-bottom : 0;
}

ul,
ol
{
    padding-left : calc(2 * var(--style-grid-third));
}

code,
pre
{
    font-family      : var(--style-font-family-code);
    font-weight      : var(--style-font-weight-code);
    font-size        : var(--style-font-size-code);

    color            : var(--style-color-light);
    background-color : var(--style-color-dark-lighter);
}

code
{
    display     : inline-block;
    margin      : 2px 0;
    padding     : 0 var(--style-grid-third);
    line-height : calc(var(--style-grid-full) - 4px);
}

pre
{
    margin        : 0 0 var(--style-grid-full);
    padding       : var(--style-grid-third);
    line-height   : var(--style-line-height-code);
    border-top    : var(--style-line-width) solid var(--style-color-accent);
    border-radius : 0;
    overflow      : hidden;
    overflow-x    : auto;
}

pre:last-child
{
    margin-bottom : 0;
}

/**
 * Utility classes
 */
.faded
{
    color : var(--style-color-light-faded);
}

.center
{
    text-align : center;
}
