/**
 * Links
 */
a
{
    text-decoration : underline;
 
    color           : var(--style-color-interactive);
    transition      : color var(--transition-duration-short) ease-in-out;
}

a:hover,
a:active,
a:focus
{
    color : var(--style-color-interactive-in);
}

/**
 * Headings
 */
h2
{
    margin      : 0 0 var(--style-grid-third) 0;

    font-family : var(--style-font-family-strong);
    font-weight : var(--style-font-weight-strong);
    font-size   : var(--style-font-size-text);
    line-height : var(--style-grid-full);

    color       : var(--style-color-light-highlight);
}

h2::before
{
    content       : "#";
    padding-right : var(--style-grid-third);
    color         : var(--style-color-accent);
}

h3
{
    margin      : 0 0 var(--style-grid-third) 0;

    font-family : var(--style-font-family-strong);
    font-weight : var(--style-font-weight-strong);
    font-size   : var(--style-font-size-text);
    line-height : var(--style-grid-full);

    color       : var(--style-color-light);
}

h3::before
{
    content       : "##";
    padding-right : var(--style-grid-third);
    color         : var(--style-color-accent);
}

/**
 * Text content
 */
p,
ul,
ol
{
    margin : 0 0 var(--style-line-height) 0;
}

p:last-child,
ul:last-child,
ol:last-child
{
    margin-bottom : 0;
}

ul,
ol
{
    list-style-type : none;
    padding-left    : 0;
}

li
{
    position     : relative;
    padding-left : calc(2 * var(--style-grid-third));
}

li::before
{
    content       : "*";

    position      : absolute;
    left          : 0;
    top           : 0;

    color         : var(--style-color-accent);
}

.faded
{
    color : var(--style-color-light-faded);
}
