/**
 * Variables & Fonts
 */
:root
{
    --color-eigengrau              : #16161d;
    --color-eigengrau-light        : #202027;
    --color-eigengrau-lighter      : #3e3e51;
    --color-white                  : #e6e6ed;
    --color-darkgray               : #4d4d65;
    --color-darkgray-light         : #6c6c8e;
    --color-gray                   : #a6a6ad;
    --color-gray-light             : #d6d6dd;
    --color-orange                 : #e6863d;
    --color-orange-faded           : #c6763d;
    --color-blue                   : #3d9de6;
    --color-blue-accent            : #659beb;

    --style-color-dark             : var(--color-eigengrau);
    --style-color-dark-light       : var(--color-eigengrau-light);
    --style-color-dark-lighter     : var(--color-eigengrau-lighter);
    --style-color-light            : var(--color-gray-light);
    --style-color-light-faded      : var(--color-gray);
    --style-color-light-highlight  : var(--color-white);
    --style-color-accent           : var(--color-orange);
    --style-color-accent-faded     : var(--color-orange-faded);
    --style-color-interactive      : var(--color-blue);
    --style-color-interactive-in   : var(--color-blue-accent);
    --style-color-border           : var(--color-darkgray);
    --style-color-button           : var(--color-darkgray-light);
    --style-color-button-active    : var(--color-darkgray);

    --style-font-family-strong     : "Sono", monospace;
    --style-font-family-content    : "Sono", monospace;
    --style-font-family-title      : "Sono", monospace;
    --style-font-family-code       : "Sono", monospace;
    --style-font-weight-title      : 500;
    --style-font-weight-strong     : 500;
    --style-font-weight-normal     : 400;
    --style-font-weight-code       : 400;

    --style-font-size-text         : 16px;
    --style-font-size-title        : 26px;
    --style-font-size-code         : 14px;
    --style-font-size-small        : 14px;
    --style-line-height            : 26px;
    --style-line-height-title      : 36.5px;
    --style-line-height-code       : 22px;
    --style-line-height-small      : 22px;

    --style-line-width             : 4px;
    --style-line-width-light       : 2px;
    --style-grid-full              : 26px;
    --style-grid-half              : 13px;
    --style-grid-third             : 8.5px;

    --transition-duration-short    : 0.12s;
    --transition-duration-medium   : 0.33s;
    --transition-duration-long     : 0.66s;
}

/* Latin extended */
@font-face
{
    src           : url("/assets/sono-v6-latin-ext.woff2");

    font-family   : "Sono";
    font-style    : normal;
    font-weight   : 200 800;
    font-display  : swap;
    
    unicode-range : U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* Latin */
@font-face
{
    src           : url("/assets/sono-v6.woff2");

    font-family   : "Sono";
    font-style    : normal;
    font-weight   : 200 800;
    font-display  : swap;

    unicode-range : U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
