/**
 * Variables & Fonts
 */
:root
{
    --color-eigengrau              : #16161d;
    --color-eigengrau-lighter      : #26262d;
    --color-white                  : #f6f6fd;
    --color-gray                   : #a6a6ad;
    --color-gray-light             : #e6e6ed;
    --color-orange                 : #e6863d;
    --color-orange-accent          : #f6a63d;
    --color-red                    : #c6361d;
    --color-red-accent             : #e6361d;
    --color-blue                   : #3d9de6;
    --color-blue-accent            : #6dbde6;
    --color-blue-dark              : #2d8de6;

    --style-color-dark             : var(--color-eigengrau);
    --style-color-dark-lighter     : var(--color-eigengrau-lighter);
    --style-color-light            : var(--color-gray-light);
    --style-color-light-faded      : var(--color-gray);
    --style-color-light-highlight  : var(--color-white);
    --style-color-accent           : var(--color-orange);
    --style-color-interactive      : var(--color-blue);
    --style-color-interactive-dark : var(--color-blue-dark);
    --style-color-interactive-in   : var(--color-blue-accent);

    --style-font-family-strong     : "Julia Mono", monospace;
    --style-font-family-content    : "Julia Mono", monospace;
    --style-font-family-title      : "Julia Mono", monospace;
    --style-font-family-code       : "Julia Mono", monospace;
    --style-font-weight-title      : 600;
    --style-font-weight-strong     : 600;
    --style-font-weight-normal     : 400;
    --style-font-weight-code       : 400;

    --style-font-size-text         : 16px;
    --style-font-size-title        : 26px;
    --style-font-size-code         : 14px;
    --style-font-size-footer-link  : 14px;
    --style-line-height            : 26px;
    --style-line-height-title      : 36.5px;
    --style-line-height-code       : 22px;

    --style-line-width             : 4px;
    --style-line-width-light       : 2.5px;
    --style-grid-full              : 26px;
    --style-grid-half              : 13px;
    --style-grid-third             : 8.5px;

    --transition-duration-short    : 0.12s;
    --transition-duration-medium   : 0.33s;
    --transition-duration-long     : 0.66s;
}

@font-face
{
    src         : url("https://cdnjs.cloudflare.com/ajax/libs/juliamono/0.058/JuliaMono-Black.woff2");

    font-family : "Julia Mono";
    font-style  : normal;
    font-weight : 700;
}

@font-face
{
    src         : url("https://cdnjs.cloudflare.com/ajax/libs/juliamono/0.058/JuliaMono-Bold.woff2");

    font-family : "Julia Mono";
    font-style  : normal;
    font-weight : 600;
}

@font-face
{
    src         : url("https://cdnjs.cloudflare.com/ajax/libs/juliamono/0.058/JuliaMono-Medium.woff2");

    font-family : "Julia Mono";
    font-style  : normal;
    font-weight : 500;
}

@font-face
{
    src         : url("https://cdnjs.cloudflare.com/ajax/libs/juliamono/0.058/JuliaMono-MediumItalic.woff2");

    font-family : "Julia Mono";
    font-style  : italic;
    font-weight : 500;
}

@font-face
{
    src         : url("https://cdnjs.cloudflare.com/ajax/libs/juliamono/0.058/JuliaMono-Regular.woff2");

    font-family : "Julia Mono";
    font-style  : normal;
    font-weight : 400;
}

@font-face
{
    src         : url("https://cdnjs.cloudflare.com/ajax/libs/juliamono/0.058/JuliaMono-RegularItalic.woff2");

    font-family : "Julia Mono";
    font-style  : italic;
    font-weight : 400;
}
