@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400&display=swap");

:root
{
    --color-white: #fff;
    --color-black: #180501;
    --color-red  : #ae2209;
    --color-gray : #b8a19d;
    --color-grid : #911c08;

    --grid-size    : 24px;
}

*
{
    box-sizing: border-box;
}

html
{
    font-size: 16px;
    font-family: "IBM Plex Mono", monospace;

    line-height: 24px;

    color: var(--color-white);
}

html,
body
{
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
}

body
{
    min-height: 100%;

    background-color: var(--color-black);
}

main
{
    position: relative;

    width: 100%;
    height: 100vh;
    padding: 0;

    background-color: var(--color-grid);
}

header
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

header h1
{
    margin: 0;
    text-align: center;

    font-size: 2rem;
    font-weight: 700;
    line-height: 3rem;

    color: var(--color-black);
}

#canvas-grid
{
    display: block;
    width: 100%;
    height: 100%;

    background-color: var(--color-red);
}

section
{
    width: 100%;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

section ul
{
    list-style: none;

    margin: 0;
    padding: 0;
}

main.has-padding section ul
{
    padding-bottom: var(--grid-size);
}

section li
{
    text-align: center;
    line-height: calc( 2 * var(--grid-size) );
}

section li a
{
    font-size: 1rem;
}

section li a,
section li a:visited
{
    color: var(--color-white);
    text-decoration: none;
    font-weight: 400;
}

section li a:hover,
section li a:active
{
    text-decoration: 2px underline var(--color-white);
}

footer
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

footer p
{
    margin: 0;

    color: var(--color-gray);
    font-size: 0.875rem;
    font-weight: 400;
    text-align: right;
    line-height: var(--grid-size);
}