header[role="main"]
{
    display         : flex;
    align-items     : center;
    justify-content : center;

    width           : 100%;
    height          : 100vh;
}

retro-title
{
    position : fixed;
    top      : 0;
    right    : 0;
}

retro-nav
{
    position : fixed;
    bottom   : var(--style-grid-full);
    left     : 0;
    right    : 0;
}

/**
 * Hide/show elements
 */
header[role="main"].hidden
{
    cursor : none;
}

retro-title,
retro-nav
{
    opacity    : 1;
    transition : opacity var(--transition-duration-medium) ease-in-out;
}

retro-title.hidden,
retro-nav.hidden
{
    opacity : 0;
}
