{{#> index title=title }}
    <header role="main">
        <retro-title></retro-title>
        <retro-nav></retro-nav>
    </header>
    <main>
    {{> @partial-block }}
    </main>
    <retro-footer></retro-footer>
{{/index}}
