{{#> index
    title=title
    templateStyle="templates/layout.page.css"
    templateScript="templates/layout.page.js"
    viewStyle=viewStyle
    viewScript=viewScript
    viewType=viewType
}}
    <retro-title data-style="main"></retro-title>
    <retro-nav data-active="{{ view }}" data-style="main"{{#if viewType}} data-type-{{ viewType }}{{/if}}></retro-nav>
    <main{{#if viewType}} data-type-{{ viewType }}{{/if}}>
    {{> @partial-block }}
    </main>
    <retro-footer></retro-footer>
{{/index}}
