{{#> index
    title=title
    templateStyle="templates/layout.page.css"
    templateScript="templates/layout.page.js"
    viewStyle=viewStyle
    viewScript=viewScript
}}
    <header role="main">
        <retro-title data-style="main"></retro-title>
    </header>
    <main>
        <retro-nav data-active="{{ view }}" data-style="main"></retro-nav>
    {{> @partial-block }}
    </main>
    <retro-footer></retro-footer>
{{/index}}
