{{#> index
    title=title
    templateStyle="templates/layout.homepage.css"
    templateScript="templates/layout.homepage.js"
    viewStyle=viewStyle
    viewScript=viewScript
}}
    <header role="main">
        <retro-title></retro-title>
        <div id="artwork">
            <canvas></canvas>
        </div>
    </header>
    <retro-nav></retro-nav>
    <main>
    {{> @partial-block }}
    </main>
{{/index}}
