retro-title
{
    text-align : center;
}

main
{
    display          : block;
    max-width        : 720px;
    min-height       : calc(100vh - 10 * var(--style-grid-full) - 2px);

    margin           : 0 auto;
    padding          : var(--style-grid-full);

    background-color : var(--style-color-dark);
    box-shadow       : 0 0 3px var(--style-color-dark);
}

retro-nav
{
    position      : sticky;
    top           : var(--style-grid-full);
    margin-bottom : calc(2 * var(--style-grid-full));
    box-shadow    : 0 calc(-1 * var(--style-grid-full)) 0 0 var(--style-color-dark);
}
