{{#> index title=title }}
    <header role="main">
        <retro-title></retro-title>
        <div id="artwork">
            <canvas></canvas>
        </div>
    </header>
    <retro-nav></retro-nav>
    <main>
    {{> @partial-block }}
    </main>
{{/index}}
