retro-title
{
    text-align : center;
}

retro-nav
{
    width         : 100%;
    position      : sticky;

    /* On some mobile devices there was still visible gap when set to 0 */
    top           : -1px;

    margin-bottom : calc(2 * var(--style-grid-full));
}

main
{
    display    : block;
    max-width  : 640px;
    min-height : calc(100vh - 13.3 * var(--style-grid-full) - 2px);

    margin     : 0 auto;
    padding    : var(--style-grid-full);
}

main[data-type-wide]
{
    max-width  : unset;
    min-height : unset;
}

@media only screen and (min-width: 768px)
{
    main[data-type-wide]
    {
        max-width : calc(100vw - 4 * var(--style-grid-full));
    }
}
