{{#> index title=title }}
    <header role="main">
        <h1>retrovizor.xyz: page layout</h1>
        header[role="main"]
    </header>
    <main>
    {{> @partial-block }}
    </main>
    <footer role="main">
        footer[role="main"]
    </footer>
{{/index}}
