{{#> index
    title=title
    templateStyle="templates/layout.page.css"
    templateScript="templates/layout.page.js"
    viewStyle=viewStyle
    viewScript=viewScript
}}
    <header role="main">
        <retro-title></retro-title>
        <retro-nav></retro-nav>
    </header>
    <main>
    {{> @partial-block }}
    </main>
    <retro-footer></retro-footer>
{{/index}}
