{{#> layout.page
    title="Pixel hoodlum"
    view="pixel-hoodlum"
    viewScript="pixel-hoodlum.js"
}}
    <canvas id="pixel-hoodlum" class="experiment"></canvas>

    <retro-content-block data-date="2025-01-01">
        <span slot="title">Pixel hoodlum</span>
        <span slot="excerpt">
            Image degradation tool that creates a monochrome, poster-like version of the original image.
            <br /><br />
            Source: <a href="https://github.com/vjekoart/retrovizor/blob/master/src/library/services/pixel-hoodlum.service.js" target="_blank">pixel-hoodlum.service.js</a>
        </span>
    </retro-content-block>
{{/layout.page}}
