{{#> layout.page
    title="Building a web frontend with native technologies"
    view="text"
}}
    <h3>Building a web frontend with native technologies</h3>

    * *This is a WIP article that should be extended to cover all dimensions*
    * *This is a live article that should be updated periodically*
    * Introduction
        * We all allegedly know that it's good to stay up-to-dated and literate in native technologies of platforms we work on
        * The idea is to have a live article, that changes over time, that presents opinionated and reasonable approach of building web frontend apps using native web browser technologies and the most related environment - NodeJS
    * Opinionated Architecture: what basically is an architecture of this web site
        * **Major architecture components should be universal, e.g. templating, build system, environment, modules, styling, and similar**
        * Web components but with a tool, compiling JS with babel to be safe
        * We own the build system
        * Primitive meta-programming/templating mechanism for views
        * NodeJS,...
        * ES modules
        * Note on incompleteness for majority of product codebases
            * Still missing stuff like routing and state management
    * Short info about example, check out this repository to see it in action
    * [Section for each architecture part]
        * Example: ES modules (use importmaps, copy node modules in that way, and similar...)
        * Bundles / modules / build system: add comparison between native modules and bundle build types, use retrovizor.xyz as comparison
    * Note how this article is incomplete (not yet every part is covered, even though you can see it in the repository) AND how this is a live article
{{/layout.page}}
