{{#> layout.page
    title="Building a web frontend with native technologies"
    view="native-web-frontend"
}}
    <retro-content-block data-date="2025-01-11">
        <span slot="title">Building a web frontend with native technologies</span>
    </retro-content-block>

    <p>The goal of this text is to contain, and explain, methods and technologies for building a functional website by using native web technologies.</p>
    <p>Another goal is to keep this text up-to-date as web browsers evolve.</p>

    <h3>Approach</h3>
    <p>Even though the goal is to write code that works natively in modern web browsers, the idea is to produce production-ready web applications that can survive if they're opened in different and/or older web browsers.</p>
    <p>For that reason, NodeJS is used as a development environment to improve developer experience and the served code.</p>

    <h3>Opinionated architecture</h3>
    <p>This text explores building of a web application thinking about an architecture with following components:</p>
    <ul>
        <li>Build system</li>
        <li>Skeleton of the website</li>
        <li>SSR templates</li>
        <li>Modules</li>
        <li>Routing</li>
        <li>Reusable UI components</li>
        <li>Testing</li>
    </ul>
    <p>Current version of the architecture is missing (at least) the following elements that are common in complex applications:</p>
    <ul>
        <li>Authentication</li>
        <li>State management</li>
        <li>Type checking</li>
    </ul>
    <p><strong>Note:</strong> this approach can be seen in action by exploring <a href="https://github.com/vjekoart/retrovizor" target="_blank">github.com/vjekoart/retrovizor</a> repository.</p>

    <h3>Build system</h3>
    <p>A couple of sentences explaining the idea</p>
    <p>Link to a relevant file on GitHub</p>

    <h3>Skeleton of the website</h3>
    <p>TBD</p>

    <h3>SSR templates</h3>
    <p>TBD</p>

    <h3>Modules</h3>
    <p>TBD</p>

    <h3>Routing</h3>
    <p>TBD</p>

    <h3>Reusable UI components</h3>
    <p>TBD</p>
{{/layout.page}}
