{{#> layout.page
    title=data.views.text.title
    view="text"
}}
    <h3>What is Retrovizor?</h3>
    <p>retròvīzor, <em>noun</em> - rear-view mirror</p>
    <p>...we see the world through a rear-view mirror. We march backwards into the future. <strong>Staviti konkretan citat</strong></p>
    <p>Par rečenica o tome kako ova *osobna* web stranica jest mjesto za razmišljanja o digitalnoj tehnologiji, industriji, njezinom utjecaju na pojedinca. Također i mjesto za programe i programski kod koji može biti zanimljiv, dosadan, već viđen, funkcionalan ili nedovršen.</p>
    <p>Sadržaj ove stranice nema "burden" završenosti, funkcionalnosti, svrhe.</p>
{{/layout.page}}
