{{#> layout.page
    title=data.views.text.title
    view="text"
}}
    <retro-article-excerpt data-date="2025-01-11" data-href="native-web-frontend/">
        <span slot="title">Building a web frontend with native technologies</span>
        <span slot="excerpt">This is a placeholder excerpt with the intention of filling up the space.</span>
    </retro-article-excerpt>

    <retro-article-excerpt data-date="2025-01-09" data-href="declarative-javascript/">
        <span slot="title">Thoughts on declarative code in JavaScript</span>
        <span slot="excerpt">This is a placeholder excerpt with the intention of filling up the space.</span>
    </retro-article-excerpt>

    <retro-article-excerpt data-date="2025-01-07" data-href="hello-world/">
        <span slot="title">Hello, world!</span>
        <span slot="excerpt">This is a placeholder excerpt with the intention of filling up the space.</span>
    </retro-article-excerpt>
{{/layout.page}}
