{{#> layout.page
    title=data.views.text.title
    view="text"
}}
    <retro-article-excerpt data-date="2025-03-01" data-href="native-web-frontend/">
        <span slot="title">Building a web frontend with native technologies</span>
        <span slot="excerpt">TBA</span>
    </retro-article-excerpt>

    <retro-article-excerpt data-date="2025-03-01" data-href="declarative-javascript/">
        <span slot="title">Thoughts on declarative code in JavaScript</span>
        <span slot="excerpt">TBA</span>
    </retro-article-excerpt>

    <retro-article-excerpt data-date="2025-03-01" data-href="hello-world/">
        <span slot="title">Hello, world!</span>
        <span slot="excerpt">Something like: what is retrovizor bla bla</span>
    </retro-article-excerpt>
{{/layout.page}}
