{{#> layout.page
    title=data.views.text.title
    view="text"
}}
    <retro-content-block data-date="2025-01-11" data-href="native-web-frontend/">
        <span slot="title">Building a web frontend with native technologies</span>
        <span slot="excerpt">An opinionated approach to building web applications using native technologies.</span>
    </retro-content-block>

    <retro-content-block data-date="2025-01-09" data-href="declarative-javascript/">
        <span slot="title">Thoughts on declarative code in Javascript</span>
        <span slot="excerpt">A collection of thoughts on how to write readable Javascript code by having declarative paradigm in mind.</span>
    </retro-content-block>

    <retro-content-block data-date="2025-01-01" data-href="hello-world/">
        <span slot="title">Hello, world!</span>
        <span slot="excerpt">A small, personal corner of the internet.</span>
    </retro-content-block>
{{/layout.page}}
