{{#> layout.page
    title=data.views.code.title
    view="code"
}}
    <h2>Experiments</h2>
    <ul>
        <li><a href="blank/">Blank</a>, animation</li>
        <li><a href="degradator/">Degradator</a>, image manipulation</li>
    </ul>

    <h2>Gists</h2>
    <ul>
        <li><a href="https://gist.github.com/vjekoart/c0ea84a188a30cd77e86b0e4eff789d3" target="_blank">vjekoart/coding-style</a></li>
        <li><a href="https://gist.github.com/vjekoart/98dcb2732eb8e4a0df18588418e3765f" target="_blank">vjekoart/pointless-code</a></li>
    </ul>

    <h2>Git repositories</h2>
    <ul>
        <li><a href="https://github.com/vjekoart/retrovizor" target="_blank">vjekoart/retrovizor</a>, source code of retrovizor.xyz</li>
        <li><a href="https://github.com/vjekoart/eigen-ui" target="_blank">vjekoart/eigen-ui</a>, desktop UI configuration for Linux</li>
    </ul>
{{/layout.page}}
