{{#> layout.page
    title=data.views.code.title
    view="code"
}}
    <retro-content-block>
        <span slot="title">Experiments</span>
        <ul slot="excerpt">
            <li><a href="blank/">Blank</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: animation</li>
            <li><a href="degradator/">Degradator</a>&nbsp;: image manipulation</li>
        </ul>
    </retro-content-block>

    <retro-content-block>
        <span slot="title">Gists</span>
        <ul slot="excerpt">
            <li><a href="https://gist.github.com/vjekoart/c0ea84a188a30cd77e86b0e4eff789d3" target="_blank">vjekoart/coding-style</a>: opinionated coding style</li>
        </ul>
    </retro-content-block>

    <retro-content-block>
        <span slot="title">Git repositories</span>
        <ul slot="excerpt">
            <li><a href="https://github.com/vjekoart/retrovizor" target="_blank">github.com/vjekoart/retrovizor</a>: source of retrovizor.xyz</li>
        </ul>
    </retro-content-block>
{{/layout.page}}
