{{#> layout.page
    title=data.views.code.title
    view="code"
}}
    <retro-content-block data-date="2025-01-01">
        <span slot="title">Experiments</span>
        <ul slot="excerpt">
            <li>Image degradator...<a href="image-degradator/"><strong>RUN</strong></a></li>
            <li>Close your eyes....<a href="close-your-eyes/"><strong>RUN</strong></a></li>
        </ul>
    </retro-content-block>

    <retro-content-block data-date="2025-01-01">
        <span slot="title">Git repositories</span>
        <ul slot="excerpt">
            <li><a href="https://github.com/vjekoart/retrovizor" target="_blank">github.com/vjekoart/retrovizor</a>: source of retrovizor.xyz</li>
        </ul>
    </retro-content-block>

    <retro-content-block data-date="2025-01-01">
        <span slot="title">Gists</span>
        <ul slot="excerpt">
            <li><a href="https://gist.github.com/vjekoart/c0ea84a188a30cd77e86b0e4eff789d3" target="_blank">vjekoart/coding-style</a>: opinionated coding style</li>
        </ul>
    </retro-content-block>
{{/layout.page}}
