{{#> layout.page title=data.views.code.title }}
    <p>Links to Projects AND GitHub repositories and gist snippets with short descriptions, and standalone stuff?</p>

    <h2>Code candidates</h2>

    <h3>Dedicated page to CloseYourEyes, canvas preview, configuration</h3>
    <h3>Dedicated page to image distorter, select image, distort, configuration, also add "Download"/"Save" button for the generated image</h3>
    <h3>Link to GitHub repository of this website</h3>
    <h3>Link to gist (future eslint plugin?) with code style examples for JS and CSS files used in this project</h3>
{{/layout.page}}
