{{#> layout.homepage
    title=data.views.homepage.title
    viewStyle="views/homepage.css"
    viewScript="views/homepage.js"
}}
    <span id="bright" class="hidden"></span>
    <canvas></canvas>
{{/layout.homepage}}
