{{#> layout.homepage title=data.views.homepage.title }}
    <article>
        <h2>Article heading</h2>
        <p>
            Paragraph explaining the article heading. The goal is to spread these sentences over two lines,
            at least. To ensure that I'll add a couple of more words.
        </p>
        <footer>
            <a href="#">Expand</a>
        </footer>
    </article>
    <article>
        <h2>Yet another boring topic</h2>
        <p>
            Paragraph explaining the article heading. The goal is to spread these sentences over two lines,
            at least. To ensure that I'll add a couple of more words.
        </p>
        <footer>
            <a href="#">Expand</a>
        </footer>
    </article>
    <article>
        <h2>Something different</h2>
        <p>
            Paragraph explaining the article heading. The goal is to spread these sentences over two lines,
            at least. To ensure that I'll add a couple of more words.
        </p>
        <footer>
            <a href="#">Expand</a>
        </footer>
    </article>
{{/layout.homepage}}
