{{#> layout.page title=data.views.user.title }}
    <p>Present artsy profile picture, name</p>
    <p>career keypoints, detail career stuff with product|people|tech stuff</p>
    <p>Link to social profiles</p>
    <p>At the bottom add section with "products" or something where Filthy Fingers and other proprietary products are shown.</p>
{{/layout.page}}
