{{#> layout.page
    title="Hello, world!"
    view="hello-world"
}}
    <retro-content-block data-date="2025-01-01">
        <span slot="title">Hello, world!</span>
    </retro-content-block>

    <p>Welcome to retrovizor.xyz - a small, personal corner of the internet.</p>
    <p>
        Content on this website is mostly presented in the form of programming code and text.
        Both formats tend to explore various ideas and aspects of programming and the internet.
    </p>
    <p>
        <strong>The internet</strong> - a mix of technologies, human thoughts, and unexplored
        possibilities.
    </p>
    <p>
        Keep in mind that this personal nook doesn't have a burden of completion or function.
        One may find inoperable code or fragmented text that's yet to be completed. That may
        never happen, of course.
    </p>
    <p>I hope you find this digital place interesting, maybe even provoking, but ultimately pleasant.</p>
    <p>Sincerely,<br />root</p>
{{/layout.page}}
