{{#> layout.page
    title="Hello, world!"
    view="hello-world"
}}
    <retro-content-block data-date="2025-01-01">
        <span slot="title">Hello, world!</span>
    </retro-content-block>

    <p>Welcome to the retrovizor.xyz - a small, personal corner of the internet.</p>
    <p>Content that's published here, in the form of code and text, explores various ideas and aspects of programming and the internet.</p>
    <p>There's no burden that stuff published on this website should be useful, functional, or even complete.</p>
    <p>To a fellow visitor, ...interesting ...provoking... pleasant</p>
    <p>Sincerely,<br />vjekoart</p>
{{/layout.page}}
