{{#> layout.page
    title="Blank"
    view="blank"
    viewScript="views/code/blank/blank.js"
    viewType="wide"
}}
    <retro-experiment>
        <canvas slot="display"></canvas>
        <h2 slot="title">Blank</h2>
        <p slot="description">Eyes closed.</p>
        <a slot="source" href="https://github.com/vjekoart/retrovizor/blob/master/src/library/services/blank.service.js" target="_blank">blank.service.js</a>
    </retro-experiment>
{{/layout.page}}
