{{#> layout.page
    title=data.views.404.title
    view="404"
}}
    <retro-content-block>
        <span slot="title">Cannot compute</span>
        <p slot="excerpt">Requested link doesn't exist.<br /><br />Please use a proper link, or use navigation to open pages that do exist.</p>
    </retro-content-block>
{{/layout.page}}
