.experiment
{
    padding : var(--style-grid-full);
}

.experiment .images,
.experiment .controls
{
    display         : flex;
    justify-content : space-between;
    margin-bottom   : var(--style-grid-full);
}

.experiment .images img,
.experiment .controls button
{
    width  : calc(50% - var(--style-grid-half));
    height : auto;
}

.experiment .images img
{
    background : var(--style-color-dark-lighter);
    border     : var(--style-line-width-light) solid var(--style-color-light);
}

.input-image,
.configuration
{
    width      : 100%;
    min-width  : unset;
    margin     : 0 0 var(--style-grid-full) 0;
    padding    : 0;

    border     : var(--style-line-width-light) solid var(--style-color-light);
}

.input-image
{

    text-align : center;
    cursor     : pointer;
    overflow   : hidden;
}

.input-image label
{
    display : block;
    padding : var(--style-grid-full);
    cursor  : inherit;
}

.input-image input[type="file"]
{
    display : none;
}

.configuration
{
    padding : var(--style-grid-full);
}

.configuration-value
{
    display       : block;
    margin-bottom : var(--style-grid-half);
}

.configuration-value:last-child
{
    margin-bottom : 0;
}
