{{#> layout.page
    title="Image degradator"
    view="image-degradator"
    viewScript="views/code/image-degradator/image-degradator.js"
}}
    <div class="experiment">
        <img id="image-output" alt="Output image" />
    </div>

    <retro-experiment-control></retro-experiment-control>

    <retro-content-block>
        <span slot="title">Image degradator</span>
        <span slot="excerpt">
            Image degradation tool that creates a color-modified, pixelated version of the original image.
            <br />
            All processing is happening inside the web browser.
            <br /><br />
            Source: <a href="https://github.com/vjekoart/retrovizor/blob/master/src/library/services/image-degradator.service.js" target="_blank">image-degradator.service.js</a>
        </span>
    </retro-content-block>
{{/layout.page}}
