{{#> layout.page
    title=data.views.user.title
    view="user"
    viewStyle="views/user/user.css"
}}
    <section>
        <img id="profile" src="/assets/profile.degraded.png" alt="My face." />
        <p>
            Vjekoslav Artić<br />
            <br />
            <span class="faded">Zagreb, Croatia</span><br />
            <span class="faded" data-hotstuff></span>
        </p>
    </section>

    <h2>Online presence</h2>
    <ul>
        <li><a href="https://github.com/vjekoart" target="_blank">GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/vjekoslav-artic/" target="_blank">LinkedIn</a></li>
        <li><a href="#" target="_blank">Instagram</a></li>
    </ul>

    <h2>Professional</h2>
    <ul id="professional-career">
        <li>
            <a href="https://www.vumedi.com/" target="_blank">VuMedi</a>
            <br /><span class="faded">2024 - present</span>
            <br />Building a web video platform for doctor education.
        </li>
        <li>
            <a href="https://microblink.com/" target="_blank">Microblink</a>
            <br /><span class="faded">2020 - 2023</span>
            <br />Building in-browser tools for image recognition.
        </li>
        <li>
            <a href="https://www.uniqcast.com/" target="_blank">UniqCast</a>
            <br /><span class="faded">2015 - 2020</span>
            <br />Building various apps for watching movies, series and TV.
        </li>
    </ul>

    <h2>Unprofessional</h2>
    <ul>
        <li>Stuff on <a href="https://retrovizor.xyz">retrovizor.xyz</a></li>
        <li><a href="https://filthy-fingers.retrovizor.xyz" target="_blank">Filthy Fingers</a></li>
    </ul>
{{/layout.page}}
