section
{
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    justify-content : center;
    gap             : var(--style-grid-half);
    margin          : var(--style-grid-full) 0;
}

section p
{
    text-align: center;
}

[data-hotstuff]
{
    display : inline-block;
}

[data-hotstuff]::before
{
    content : "vjekoart\0040\0070\006d\002e\006d\0065";
}

#profile
{
    display   : block;
    width     : 50%;
    max-width : 100px;
    height    : auto;
}

#professional-career li
{
    margin-bottom : var(--style-grid-half);
}

#professional-career li:last-child
{
    margin-bottom : 0;
}
