section
{
    display         : flex;
    flex-direction  : column;
    flex-flow       : column-reverse;
    justify-content : space-between;

    margin-bottom   : var(--style-grid-full);

    text-align      : center;
}

[data-hotstuff]
{
    display : inline-block;
}

[data-hotstuff]::before
{
    content : "vjekoart@pm.me";
}

#profile
{
    display : block;
    width   : 240px;
    height  : auto;
    margin  : 0 auto calc(2 * var(--style-grid-full)) auto;
    border  : var(--style-line-width-light) solid var(--style-color-light);
}

#professional-career li
{
    margin-bottom : var(--style-grid-half);
}

#professional-career li:last-child
{
    margin-bottom : 0;
}

@media only screen and (min-width: 640px)
{
    section
    {
        flex-direction : row;
        flex-flow      : row;

        text-align     : left;
    }

    #profile
    {
        margin : unset;
    }
}
