@import url( "/library/index.css" );

/**
 * Header component => merge with main outlet in layout.homepage
 */
header[role="main"]
{
    width    : 100%;
    height   : 100vh;
}

header[role="main"] #artwork
{
    display : block;
    width   : 100%;
    height  : 100vh;
}

/**
 * Main outlet => merge with main outlet in layout.homepage
 */
main
{
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    padding         : var(--style-grid-full);
}

/**
 * layout.homepage composition
 */
header[role="main"]
{
    position : relative;
}

retro-title
{
    position : fixed;
    top      : 0;
    right    : 0;
}

main
{
    /* 100vh - nav height - footer height */
    min-height : calc(100vh - 6 * var(--style-grid-full));
    max-width  : calc(24 * var(--style-grid-full));
    margin     : 0 auto;
}
