/**
 * Reset/starter/base stuff, extract somewhere, but with possibility of defining variables, fonts
 */
:root
{
    --color-eigengrau          : #16161d;
    --color-white              : #ffffff;
    --color-gray-light         : #b6b6bd;
    --color-gray-lighter       : #c6c6cd;

    --style-color-dark         : var(--color-eigengrau   );
    --style-color-light        : var(--color-white       );
    --style-color-gray-light   : var(--color-gray-light  );
    --style-color-gray-lighter : var(--color-gray-lighter);

    --style-font-family-strong : "Julia Mono", monospace;
    --style-font-family-long   : serif;
    --style-font-family-title  : "Julia Mono", monospace;
    --style-font-weight-title  : 700;
    --style-font-weight-strong : 600;
    --style-font-weight-normal : 400;

    --style-font-size-text     : 16px;
    --style-font-size-title    : 26px;
    --style-font-size-link     : 14px;
    --style-line-height        : 26px;
    --style-line-height-title  : 36.5px;

    --style-line-width         : 4px;
    --style-line-width-light   : 2.5px;
    --style-grid-full          : 26px;
    --style-grid-half          : 13px;
    --style-grid-third         : 8.5px;
}

@font-face
{
    src: url("https://cdnjs.cloudflare.com/ajax/libs/juliamono/0.058/JuliaMono-Black.woff2");

    font-family : "Julia Mono";
    font-style  : normal;
    font-weight : 700;
}

@font-face
{
    src: url("https://cdnjs.cloudflare.com/ajax/libs/juliamono/0.058/JuliaMono-Bold.woff2");

    font-family : "Julia Mono";
    font-style  : normal;
    font-weight : 600;
}

*
{
    box-sizing: border-box;
}

html,
body
{
    width   : 100%;
    margin  : 0;
    padding : 0;
}

html
{
    height: 100%;

    font-family : var(--style-font-family-long  );
    font-size   : var(--style-font-size-text    );
    font-weight : var(--style-font-weight-normal);
    line-height : var(--style-line-height       );

    background  : var(--style-color-dark);
}

body
{
    max-width  : 1920px;
    min-height : 100%;
    margin     : 0 auto;

    color      : var(--style-color-dark);
    background : var(--style-color-light);
}

/**
 * Dynamic site header: component code
 */
header[role="main"]
{
    width  : 100%;
    height : 100vh;
}

header[role="main"] h1
{
    margin  : 0;
    padding : calc( var(--style-line-height-title) - 4 * var(--style-line-width-light) ) 0 0 0;

    font-family : var(--style-font-family-title);
    font-size   : var(--style-font-size-title  );
    font-weight : var(--style-font-weight-title);
    line-height : calc( var(--style-line-height-title  ) + 4 * var(--style-line-width-light) );
    text-align  : center;

    background-color : var(--style-color-light);
    border-top       : var(--style-line-width) solid var(--style-color-light);
    border-bottom    : var(--style-line-width) solid var(--style-color-light);
}

header[role="main"] h1.condensed
{
    /* max main width - padding */
    max-width: calc( 22 * var(--style-grid-full) );
    left: calc( ( 100vw - 22 * var(--style-grid-full) ) / 2 );
}

header[role="main"] h1::before,
header[role="main"] h1::after
{
    content       : "";
      
    position      : absolute;
    bottom        : calc( var(--style-line-width) + var(--style-line-width-light) );

    display       : block;
    width         : 50%;
    height        : calc( var(--style-line-height-title)  );
    
    font-size     : var(--style-line-height-title);

    border-top    : var(--style-line-width-light) solid var(--style-color-dark);
    border-bottom : var(--style-line-width-light) solid var(--style-color-dark);
}

header[role="main"] h1::before
{
    left: 0;
}

header[role="main"] h1::after
{
    right: 0;
}

header[role="main"] h1 a
{
    display         : inline-block;
    width           : 100%;
    max-width       : calc( 1920px - 29.2vw );

    color           : inherit;
    text-decoration : none;
    text-transform  : uppercase;

    border-top      : var(--style-line-width) solid var(--style-color-dark);
    border-bottom   : var(--style-line-width) solid var(--style-color-dark);
}

header[role="main"] #artwork
{
    width: 100%;

    /* 100vh - total h1 height - gap between h1 */
    height: calc( 100vh - 4 * var(--style-line-height-title) - 4 * var(--style-line-width) + 4 * var(--style-line-width-light) );

    background: var(--style-color-dark);
}

/**
 * Navigation
 */
nav[role="main"]
{
    width   : 100%;
    padding : var(--style-grid-full);

    text-align: center;
}

nav[role="main"] a
{
    display : inline-block;
    margin  : 0 var(--style-grid-half) 0 0;

    font-family : var(--style-font-family-strong);
    font-weight : var(--style-font-weight-strong);
    font-size   : var(--style-font-size-text    );
    line-height : var(--style-grid-full         );

    text-transform: uppercase;

    color: var(--style-color-dark);
}

nav[role="main"] a:last-child
{
    margin-right: 0;
}

/**
 * Main container
 */
main
{
    width      : 100%;
    /* 100vh - nav height - footer height */
    min-height : calc( 100vh - 6 * var(--style-grid-full) );
    padding    : var(--style-grid-full) var(--style-grid-full) calc( 2 * var(--style-grid-full) ) var(--style-grid-full);
}

/**
 * Article component
 */
article
{
    position: relative;

    margin-bottom  : var(--style-grid-full);
    padding-bottom : var(--style-grid-full);
    border-bottom  : var(--style-line-width-light) solid transparent;
}

article::after
{
    content: "";

    position : absolute;
    left     : calc( 50% - var(--style-grid-half) );
    right    : 0;
    bottom   : calc( -0.5 * ( var(--style-font-size-text) ) + var(--style-line-width-light) );

    text-align: center;
    color: var(--style-color-gray-light);

    font-family : var(--style-font-family-strong);
    font-weight : var(--style-font-weight-title);
    font-size   : var(--style-font-size-text    );
    line-height : var(--style-font-size-text    );

    width: var(--style-grid-full);
    height: var(--style-line-width-light);
    border-top    : var(--style-line-width-light) solid var(--style-color-gray-light);
    border-bottom : var(--style-line-width-light) solid var(--style-color-gray-lighter);
}

article:last-child
{
    border-bottom: none;
}

article:last-child::after
{
    display: none;
}

article h2
{
    margin  : 0 0 var(--style-grid-half) 0;
    padding : 0 var(--style-grid-third);

    /* This font definition is repeated 3 times, navigation, footer and here (but with different font weight) */
    font-family : var(--style-font-family-strong);
    font-weight : var(--style-font-weight-normal);
    font-size   : var(--style-font-size-text    );
    line-height : var(--style-grid-full         );

    color      : var(--style-color-light);
    background : var(--style-color-dark);
}

article p
{
    margin: 0;

    font-family : var(--style-font-family-long  );
    font-weight : var(--style-font-weight-normal);
    font-size   : var(--style-font-size-text    );
    line-height : var(--style-line-height       );
}

article footer
{
    text-align: right;
}

article footer a
{
    font-family : var(--style-font-family-strong);
    font-weight : var(--style-font-weight-title);
    font-size   : var(--style-font-size-link    );
    line-height : var(--style-line-height       );
    font-style  : italic;
}

/**
 * Footer
 */
footer[role="main"]
{
    padding          : var(--style-grid-full       );
    color            : var(--style-color-gray-light);
    background-color : var(--style-color-dark      );
    text-align       : center;
}

footer[role="main"] p
{
    margin: 0;

    font-family : var(--style-font-family-strong);
    font-weight : var(--style-font-weight-strong);
    font-size   : var(--style-font-size-text    );
    line-height : var(--style-grid-full         );
}

/**
 * Positioning / layout affecting stuff
 */
header[role="main"]
{
    padding: var(--style-line-height-title);
}

header[role="main"] h1
{
    position : fixed;
    top      : 0;
    left     : var(--style-line-height-title);
    right    : var(--style-line-height-title);
    z-index  : 10;
}

header[role="main"] #artwork
{
    margin-top: calc( 4 * var(--style-line-width) + 2 * var(--style-line-height-title) - 4 * var(--style-line-width-light) );
}

nav[role="main"],
main
{
    max-width : calc( 24 * var(--style-grid-full) );
    margin    : 0 auto;
}

@media screen and (min-width: 1024px)
{
    header[role="main"]
    {
        padding-left  : 14.6vw;
        padding-right : 14.6vw;
    }

    header[role="main"] h1
    {
        left  : 14.6vw;
        right : 14.6vw;
    }
}

@media screen and (min-width: 1920px)
{
    header[role="main"]
    {
        padding-left  : 14.6vw;
        padding-right : 14.6vw;
    }

    header[role="main"] h1
    {
        left  : calc( ( 100vw - 1920px ) / 2 + 14.6vw );
        right : calc( ( 100vw - 1920px ) / 2 + 14.6vw );
    }
}