/**
 * Reset/starter/base stuff, extract somewhere, but with possibility of defining variables, fonts
 */
:root
{
    --color-eigengrau             : #16161d;
    --color-eigengrau-lighter     : #46464d;
    --color-white                 : #f6f6fd;
    --color-gray                  : #a6a6ad;
    --color-gray-light            : #d6d6dd;
    --color-orange                : #e6863d;
    --color-red                   : #c6361d;
    --color-red-accent            : #e6361d;

    --style-color-dark            : var(--color-eigengrau);
    --style-color-dark-lighter    : var(--color-eigengrau-lighter);
    --style-color-light           : var(--color-gray-light);
    --style-color-light-faded     : var(--color-gray);
    --style-color-light-highlight : var(--color-white);
    --style-color-accent          : var(--color-orange);
    --style-color-interactive     : var(--color-red);
    --style-color-interactive-in  : var(--color-red-accent);

    --style-font-family-strong    : "Julia Mono", monospace;
    --style-font-family-content   : "Julia Mono", monospace;
    --style-font-family-title     : "Julia Mono", monospace;
    --style-font-weight-title     : 700;
    --style-font-weight-strong    : 600;
    --style-font-weight-normal    : 500;

    --style-font-size-text        : 16px;
    --style-font-size-title       : 26px;
    --style-font-size-footer-link : 14px;
    --style-line-height           : 26px;
    --style-line-height-title     : 36.5px;

    --style-line-width            : 4px;
    --style-line-width-light      : 2.5px;
    --style-grid-full             : 26px;
    --style-grid-half             : 13px;
    --style-grid-third            : 8.5px;

    --transition-duration-short   : 0.12s;
}

@font-face
{
    src: url("https://cdnjs.cloudflare.com/ajax/libs/juliamono/0.058/JuliaMono-Black.woff2");

    font-family : "Julia Mono";
    font-style  : normal;
    font-weight : 700;
}

@font-face
{
    src: url("https://cdnjs.cloudflare.com/ajax/libs/juliamono/0.058/JuliaMono-Bold.woff2");

    font-family : "Julia Mono";
    font-style  : normal;
    font-weight : 600;
}

@font-face
{
    src: url("https://cdnjs.cloudflare.com/ajax/libs/juliamono/0.058/JuliaMono-Medium.woff2");

    font-family : "Julia Mono";
    font-style  : normal;
    font-weight : 500;
}

@font-face
{
    src: url("https://cdnjs.cloudflare.com/ajax/libs/juliamono/0.058/JuliaMono-MediumItalic.woff2");

    font-family : "Julia Mono";
    font-style  : italic;
    font-weight : 500;
}

*
{
    box-sizing: border-box;
}

html,
body
{
    width   : 100%;
    margin  : 0;
    padding : 0;
}

html
{
    height: 100%;

    font-family : var(--style-font-family-content);
    font-size   : var(--style-font-size-text);
    font-weight : var(--style-font-weight-normal);
    line-height : var(--style-line-height);

    color       : var(--style-color-light);
    background  : var(--style-color-dark);
}

body
{
    min-height : 100%;
}

/**
 * Small, general, components
 */
a
{
    text-decoration : none;
 
    color           : var(--style-color-interactive);
    transition      : color var(--transition-duration-short) ease-in-out;
}

a:hover,
a:active,
a:focus
{
    color : var(--style-color-interactive-in);
}



/**
 * Header component
 */
header[role="main"]
{
    width    : 100%;
    height   : 100vh;
}

header[role="main"] h1
{
    margin      : 0;

    font-family : var(--style-font-family-title);
    font-size   : var(--style-font-size-title);
    font-weight : var(--style-font-weight-title);
    line-height : var(--style-font-size-title);
}

header[role="main"] h1 a
{
    color           : var(--color-light);
    text-decoration : none;
    text-transform  : uppercase;
}

header[role="main"] #artwork
{
    display : block;
    width   : 100%;
    height  : 100vh;
}

header[role="main"] button
{
    display       : block;

    width         : calc(2 * var(--style-grid-full));
    height        : calc(2 * var(--style-grid-full));
      
    font-family   : var(--style-font-family-title);
    font-size     : var(--style-font-size-title);
    font-weight   : var(--style-font-weight-title);
    line-height   : calc(2 * var(--style-font-size-title));
    text-align    : center;

    color         : var(--style-color-light);
    background    : transparent;
    border        : none;
    outline       : none;

    cursor        : pointer;
}


/**
 * Navigation component
 */
nav[role="main"]
{
    padding    : var(--style-grid-full);
    text-align : center;
}

nav[role="main"] a
{
    display         : inline-block;
    margin          : 0 var(--style-grid-half) 0 0;
    
    font-family     : var(--style-font-family-strong);
    font-weight     : var(--style-font-weight-strong);
    font-size       : var(--style-font-size-text);
    line-height     : var(--style-grid-full);
    text-transform  : uppercase;
    text-decoration : none;
 
    color           : var(--style-color-light);
    border-bottom   : var(--style-line-width-light) solid var(--style-color-light);
}

nav[role="main"] a:hover,
nav[role="main"] a:active,
nav[role="main"] a:focus,
nav[role="main"] a.active
{
    color : var(--style-color-light-highlight);
}

nav[role="main"] a:hover,
nav[role="main"] a:active,
nav[role="main"] a:focus
{
    border-color : var(--style-color-accent);
}

nav[role="main"] a.active
{
    border-color : var(--style-color-light-highlight);
}

nav[role="main"] a:last-child
{
    margin-right: 0;
}


/**
 * Main outlet
 */
main
{
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    padding         : var(--style-grid-full);
}

/**
 * Article component
 */
article
{
    position: relative;

    margin-bottom  : var(--style-grid-full);
}

article h2
{
    margin  : 0 0 var(--style-grid-third) 0;

    font-family : var(--style-font-family-strong);
    font-weight : var(--style-font-weight-strong);
    font-size   : var(--style-font-size-text);
    line-height : var(--style-grid-full);

    color       : var(--style-color-light-highlight);
    background  : var(--style-color-dark);
}

article h2::before
{
    content       : "#";
    padding-right : calc(0.33 * var(--style-font-size-text));
    color         : var(--style-color-accent);
}

article p
{
    margin      : 0;

    font-family : var(--style-font-family-content);
    font-weight : var(--style-font-weight-normal);
    font-size   : var(--style-font-size-text);
    line-height : var(--style-line-height);
}

article footer
{
    text-align: right;
}

article footer a
{
    color           : var(--style-color-light);
    font-family     : var(--style-font-family-content);
    font-weight     : var(--style-font-weight-title);
    font-size       : var(--style-font-size-footer-link);
    line-height     : var(--style-line-height);
}

article footer a:hover,
article footer a:active,
article footer a:focus
{
    color           : var(--style-color-light-highlight);
}

article footer a::after
{
    content : "...";
    color   : var(--style-color-accent);
}


/**
 * Footer component
 */
footer[role="main"]
{
    padding    : var(--style-grid-full);
    text-align : center;
}

footer[role="main"] p
{
    margin      : 0;

    font-family : var(--style-font-family-strong);
    font-weight : var(--style-font-weight-strong);
    font-size   : var(--style-font-size-text);
    line-height : var(--style-grid-full);

    color       : var(--style-color-light-faded);
}

footer[role="main"] p strong
{
    color: var(--style-color-accent);
}


/**
 * Index view: composition
 */
header[role="main"]
{
    position : relative;
}

header[role="main"] h1
{
    position : absolute;
    top      : var(--style-grid-full);
    right    : var(--style-grid-full);
}

header[role="main"] button
{
    position  : absolute;
    bottom    : var(--style-grid-full);
    left      : 50%;
    transform : translateX(-50%);
}

nav[role="main"]
{}

main
{
    /* 100vh - nav height - footer height */
    min-height : calc(100vh - 6 * var(--style-grid-full));
    max-width  : calc(24 * var(--style-grid-full));
    margin     : 0 auto;
}

footer[role="main"]
{}
