{{#> layout.page
    title="Degradator"
    view="degradator"
    viewScript="views/code/degradator/degradator.js"
    viewType="wide"
}}
    <input class="hidden" type="file" accept="image/png, image/jpeg, image/webp" />
    <retro-experiment>
        <img slot="display" alt="Degraded" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="1" height="1" />
        <p slot="placeholder" class="center">Select an image to start.<br />--<br />Fine-tune by modifying configuration values.</p>
        <h2 slot="title">Degradator</h2>
        <p slot="description">Degrade image colors and pixels.<br /><strong>Note:</strong> everything happens inside a web browser.</p>
        <a slot="source" href="https://github.com/vjekoart/retrovizor/blob/master/src/library/services/degradator.service.js" target="_blank">degradator.service.js</a>
    </retro-experiment>
{{/layout.page}}
